<mat-card *ngFor="let music of music; let index = index">
  <!-- <mat-card-header>
       <div class="icon-actions">
           <mat-icon>favorite</mat-icon>
           <mat-icon>share</mat-icon>
           <mat-icon>turned_in</mat-icon>
           <mat-icon>highlight_off</mat-icon>
       </div>
   </mat-card-header>-->
  <img mat-card-img [src]="music.album.images[0]?.url">
  <mat-card-content>
    <audio controls [id]="index">
      <source [src]="music.preview_url" type="audio/ogg">
      <source [src]="music.preview_url" type="audio/mpeg">
    </audio>
    <div class="card-details">
      <h4>{{ music.name }}</h4>
      <p>Artist: {{music.album.artists[0].name}}</p>
      <p>Album: {{ music.album.name }} </p>
      <p>Track No: {{ music.track_number }} </p>
      <p> <a [routerLink]="['/details', music.track_number]">To Details and upload</a> </p>

    </div>
  </mat-card-content>

</mat-card>
