<mat-form-field appearance="outline">
<!--    <mat-label>Search a song</mat-label>-->
    <input #strSearch matInput placeholder="Search a song" (change)="passQueryString(strSearch.value)">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<button  mat-button (click)="passQueryString(strSearch.value)">Search</button>
<mat-form-field appearance="outline">
  <!--    <mat-label>Search a song</mat-label>-->
  <input #strFilter matInput placeholder="Filter by name" (change)="filter(strFilter.value)">
  <mat-icon matSuffix>filter_alt</mat-icon>
</mat-form-field>
<button mat-button (click)="filter(strFilter.value)">Filter</button>
